.content {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

header {
	text-align: center;
}

#grid {
	width: 960px;
	height: 960px;
	border: 1px solid black;
}

.gridSquare {
	float: left;
	width: 60px;
	height: 60px;
	background-color: rgb(220,220,220);
}

.gridChange {
	background-color: blue;
}